<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Customers On Boarding</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Customers On Boarding</a>


      <ul id="nav-mobile" class="sidenav">
        <li><a href="#" data-target="modal1" class="modal-trigger">Get Started</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <span class="toast green" style="display: none">{{msg}}</span>

      <div class="row center">
        <div class="col s12 m6">
          <div class="card  darken-2">
            <h5 class="header center orange-text">Customer BVN Details</h5>
            <hr>

            <blockquote>
              Full Name => {{customer.first_name}} {{customer.middle_name}}
              {{customer.lastname_name}}
            </blockquote>
            <hr>
            <blockquote>BVN => {{customer.bvn}} </blockquote>
            <hr>
            <blockquote>Date Of Birth => {{customer.date_of_birth}} </blockquote>
            <hr>
            <blockquote>
              Phone => {{customer.phone_number}}
            </blockquote>
            <hr>

          </div>
        </div>
      </div>

      <br><br>

    </div>


  </div>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>